@charset "utf-8";
#receipt-content-divs {
	
 	width: 80%;
}

#receipt-content-divs .ui-btn { 
 	width: 35%;
}

#receipt-content-divs .ui-input-text {
 	width: 80%;
}

.timeStamp {
	float: right;	
}

.tenderedTotal {
	float: right;	
}

.email {
	position:relative;
	left:10%;
}

.total {
	position:relative;
	left:0%;
}

