.pageTitle, .smallLabel{
	color:#8fbe3e;
}

.smallLabel{
	font-size:small;
}

label.error {
		color: red;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.4;
		margin-top: 0.5em;
		width: 100%;
		float: none;
}

@media screen and (orientation: portrait){
		label.error { margin-left: 0; display: block; }
}

@media screen and (orientation: landscape){
		label.error { display: inline-block; margin-left: 22%; }
}

em { color: red; font-weight: bold; padding-right: .25em; }

.kbw-signature { width: 450px; height: 100px; }

.signatureConfirmation { font-size:x-small }

.ui-input-text,    
.ui-select
{
    width: 100% !important;
    padding: 0.4em 0!important; 
}
